@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
  background-repeat: no-repeat;
  background-position: top left, bottom right, center center, center center;
  background-size: 40rem, 40rem, cover, cover;
  background-image:
    url(../img/grafico.svg),
    url(../img/grafico.svg),
    linear-gradient(
      to right,
      rgba(v.$negro, 1),
      rgba(v.$negro, .5)
    ),
    image-set(
      url(../img/header.avif) type("image/avif") 1x,
      url(../img/header.webp) type("image/webp") 1x,
      url(../img/header.jpg) type("image/jpeg") 1x
    );

  min-height: 60rem;

  &__contenedor { @include m.contenedor; }

  &__navegacion {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0;

    @include m.tablet { justify-content: flex-end; }
  }

  &__enlace { @include m.enlace; }

  &__form { display: flex; }

  &__submit { @extend .header__enlace; }

  &__contenido {
    padding-top: 10rem;

    @include m.tablet {
      padding-top: 5rem;
    }
  }

  &__logo {
    @include m.texto-fluido(2rem, 8rem);
    @include m.texto-degradado(v.$azul, v.$secundario);
    text-align: center;

    @include m.tablet {
      display: inline-block;
      text-align: left;
    }
  }

  &__texto {
    color: v.$blanco;
    font-size: 3rem;
    font-weight: v.$bold;
    margin: 2rem 0;
    text-align: center;
    text-transform: uppercase;

    @include m.tablet { text-align: left; }

    &--modalidad { font-size: 2rem; }
  }

  &__boton {
    @include m.boton(v.$secundario, v.$blanco);
    margin: 2rem 0;
    text-transform: uppercase;

    @include m.tablet { width: auto; }
  }
}
