@use 'base/mixins' as m;
@use 'base/variables' as v;

.menu-redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 4rem 0;
  @include m.menu-social(v.$blanco, 2rem);

  @include m.tablet {
    justify-content: flex-end;
  }
}
