@use 'base/mixins' as m;
@use 'base/variables' as v;

.resumen {
  padding: 12rem 0;
  background-size: cover;
  background-position: center;
  background-image:
  linear-gradient(
    to right,
    rgba(v.$azul, .7),
    rgba(v.$azul, .9)
  ),
  image-set(
    url(../img/bg_numeros.avif) type("image/avif") 1x,
    url(../img/bg_numeros.webp) type("image/webp") 1x,
    url(../img/bg_numeros.jpg) type("image/jpeg") 1x
  );

  &__grid {
    @include m.contenedor;
    @include m.grid(1, 5rem);

    @include m.tablet { @include m.grid(2, 5rem); }
  }

  &__bloque {
    color: v.$blanco;
    text-align: center;
  }

  &__texto {
    font-size: 2.4rem;
    font-weight: v.$black;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;

    &--numero {
      @extend .resumen__texto;
      font-size: 8rem;
    }
  }
}
