@use 'base/mixins' as m;
@use 'base/variables' as v;

.speakers {

  &__grid {
    @include m.contenedor;
    @include m.grid(1, 5rem);

    @include m.tablet {
      @include m.grid(2, 5rem);
    }

    @include m.xl_desktop {
      @include m.grid(3, 5rem);
    }
  }
}

.speaker {
  @include m.card;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 35rem;

  @for $i from 1 through 4 {
    &:nth-child(4n + #{$i}) {
      background-image: image-set(
        url('../img/bg_#{$i}.avif') type("image/avif") 1x,
        url('../img/bg_#{$i}.webp') type("image/webp") 1x,
        url('../img/bg_#{$i}.png') type("image/png") 1x
      );
    }
  }

  &__imagen {
    min-width: 35rem;

    @include m.tablet {
      min-width: unset;
    }
  }

  &__ubicacion {
    color: v.$gris;
    font-size: 2rem;
    line-height: 1.5;
    margin: 1rem 0;
  }

  &__listado-skills {
    @include m.tags;

    > li {
      &:hover { cursor: default; }
    }
  }
}

.speaker-sociales {
  @include m.menu-social(v.$negro, 3rem);
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
