@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin xl_desktop {
  @media (min-width: v.$xl_desktop) {
    @content;
  }
}

@mixin boton($bgColor, $colorTexto) {
  background-color: $bgColor;
  padding: 1.5rem 4rem;
  color: $colorTexto;
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: .3s;
  text-align: center;
  width: 100%;
  display: inline-block;

  &:hover {
    background-color: darken( $bgColor, 10% );
    cursor: pointer;
  }
}

@mixin grid($columnas, $espaciado ) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

/* Contenedores */
@mixin contenedor-sm {
  margin: 0 auto;
  width: min(95%, 60rem);
}

@mixin contenedor-md {
  margin: 0 auto;
  width: min(95%, 80rem);
}

@mixin contenedor {
  margin: 0 auto;
  width: min(95%, 140rem);
}

/* Utilidades */
@mixin logo {
  color: v.$blanco;
  margin-bottom: 2rem;
  text-align: center;

  @include desktop {
    margin: 0;
    text-align: left;
  }
}

@mixin menu-social($color, $size) {
  &__enlace {
    &::before {
      color: $color;
      font-size: $size;
      display: inline-block;
      font-family: "Font Awesome 6 Brands", sans-serif;
      font-style: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    &[href*="facebook"]::before {
      content: "\f39e";
    }

    &[href*="twitter"]::before {
      content: "\f099";
    }

    &[href*="youtube"]::before {
      content: "\f167";
    }

    &[href*="instagram"]::before {
      content: "\f16d";
    }

    &[href*="tiktok"]::before {
      content: "\e07b";
    }

    &[href*="github"]::before {
      content: "\f09b";
    }
  }

  &__ocultar { display: none; }
}

@mixin enlace {
  all: unset;
  color: v.$blanco;
  font-size: 1.4rem;
  font-weight: v.$bold;
  text-transform: uppercase;

  &:hover {
    color: v.$azul;
    cursor: pointer;
  }
}

@mixin reset-lista {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin tags {
  @include reset-lista;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;

  > li {
    background-color: v.$azul;
    border-radius: .5rem;
    color: v.$blanco;
    font-size: 1.4rem;
    font-weight: v.$bold;
    padding: 1rem;
    text-transform: uppercase;

    &:hover { cursor: pointer; }
  }
}

@mixin shadow {
  box-shadow:
  rgba(50, 50, 93, 0.25) 0rem 1.3rem 2.7rem -.5rem, rgba(0, 0, 0, 0.3) 0rem .8rem 1.6rem -.8rem;
}

@mixin card {
  border: .1rem solid lighten(v.$gris, 10%);
  padding: 3rem;

  &__nombre {
    font-size: 2.6rem;
    font-weight: v.$black;
    margin: 2rem 0;
  }
}

/* Estilos Tipografía */
@mixin headings {
  font-family: v.$fuente_principal;
  font-weight: v.$black;
  margin: 2rem 0;
}

@mixin nombre-pagina {
  @include headings;
  margin: 6rem 0 3rem 0;
  text-align: center;
}

@mixin descripcion-pagina {
  color: v.$gris-oscuro;
  font-size: 1.8rem;
  font-weight: v.$delgada;
  margin-bottom: 5rem;
  text-align: center;
}

@mixin texto-fluido($min, $max) {
  font-size: clamp($min, -0.8rem + 10vw, $max);
}

@mixin texto-degradado($inicio, $final) {
  background: linear-gradient(to right, $inicio, $final);
  background-clip: text;
  color: transparent;
}
