@use 'base/mixins' as m;
@use 'base/variables' as v;

.bloques {
  @include m.contenedor;

  @include m.tablet { margin-top: 10rem; }

  &__grid {
    @include m.grid(1, 3rem);

    @include m.desktop {
      @include m.grid(2, 3rem);
    }
  }
}

.bloque {
  border-radius: 1rem;
  color: v.$blanco;
  padding: 2rem;

  &:nth-child(1) { @include m.bg-gradient(#F97316); }

  &:nth-child(2) { @include m.bg-gradient(#A855F7); }

  .bloque &__heading {
    font-size: 3.6rem;
    margin: 1rem 0 2rem 0;
  }

  &__texto {
    margin: 1rem 0;

    &--cantidad {
      font-size: 6rem;
      font-weight: v.$black;
      margin-top: 5rem;
      text-align: center;
    }
  }
}
